@import url('http://fonts.cdnfonts.com/css/segoe-ui-4');


/*ESTILOS GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;    
    transition: all 300ms;                 
    scroll-behavior: smooth;                           
}

:root{
    --color-principal: #f1ebe6;
    --color-secundario: #c4181a;
}

html{
    font-size: 62.5%;
}

.message{
    text-align: center;
    font-size: 2rem;
    margin-top: 10rem;
}

.active{
    display: block;
}

.no-active{
    display: none;
}

.center{
    width: 90%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.success{
    width: 100%;
    height: 5rem;
    background: rgb(46, 232, 29);
    color: rgb(16, 58, 0);
    text-align: center;
    line-height: 5rem;
    font-size: 1.5rem;
}

.error{
    width: 100%;
    min-height: 5rem;
    background: rgb(255, 78, 78);
    color: rgb(118, 0, 0);
    padding: 1rem 0;
    font-size: 1.3rem;
}

.input-hidden{
    display: none !important;
}












/*HEADER*/
#header{
    position: relative;
    width: 100%;
    height: 8rem;
    background: var(--color-principal);
}

#header img{
    width: 8rem;
}

#navbar{
    height: 100%;
}

#header #navbar ul{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header #navbar ul li{
    list-style: none;
    margin: 0 2rem;
}

#header #navbar ul li a{
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
    color: var(--color-secundario);
    border-radius: .5rem;
}

#header #navbar ul li a:hover{
   background: var(--color-secundario);
   color: #fff;
}

.login,
.cart{
    display: inline-block;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    text-decoration: none;
    background: var(--color-principal);
    color: var(--color-secundario);
}



/* .login-no-active{
    color: var(--color-secundario);
    border: .2rem solid var(--color-secundario);
}

.login-active{
    color: #fff;
    background: rgb(251, 56, 56);
    border: .2rem solid var(--color-secundario);
} */

.login-active i{
    background: transparent;
}

.user-active{
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.form-login{
    position: absolute;
    top: 8rem;
    right: 3rem;
    width: 20rem;
    min-height: 10rem;
    border: .1rem solid var(--color-secundario);
    background: var(--color-principal);
    border-radius: 1rem;
    padding: 1rem 0;
}

.form-login input{
    display: block;
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 1.5rem;
}

.form-login input[type="text"],
.form-login input[type="password"]{
    padding-left: 1rem;
    outline: none;
}

.form-login p{
    text-align: center;
    font-size: 2rem;
}

.form-login a{
    display: block;
    color: var(--color-secundario);
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    margin-bottom: 1rem;
}

.form-login a:hover{
    text-decoration: underline;
}
















/*SLIDER*/
.slider{
    width: 100%;
    min-height: 45rem;
}

.slider-home{
    width: 50%;
    height: 25rem;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.slider-home h1{
    font-size: 4rem;
    color: #fff;
}

.slider-home p{
    font-size: 2rem;
    color: #fff;
}

.slider-home a{
    display: block;
    font-size: 2rem;
    background: var(--color-secundario);
    padding: 1rem 2rem;
    text-decoration: none;
    color: #000;
}

.slider-home a:hover{
    background: rgb(241, 111, 111);
}

.video-container{
    width: 100%;
}

.video-container video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.controls{
    width: 20rem;
    height: 5rem;
    background: gray;
    border-radius: 2rem;
    margin: 13rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.controls .vid-btn{
    width: 3rem;
    height: 3rem;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.controls .vid-btn.active{
    background: var(--color-secundario);
}









/*REGISTRO*/
#register{
    width: 100%;
    min-height: 55rem;
    background: #fff;
    padding: 1rem;
}

#register h1{
    font-size: 3rem;
    text-align: center;
    margin: 2rem auto;
}

#register form{
    width: 40%;
    min-height: 15rem;
    border: .2rem solid rgb(179, 179, 179);
    margin: 4rem auto;
}

#register ul{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

#register form input{
    display: block;
    outline: none;
    width: 90%;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 2rem auto;
}








/*ABOUT*/
#about{
    padding: 1px;
    width: 100%;
    min-height: 55rem;
    background: var(--color-principal);
}

#about h3{
    font-size: 3rem;
    margin: 2rem 0 0;
}

#about p{
    font-size: 2rem;
}

#about > div{
    width: 70%;
    height: 100%;
    margin: 5rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about img{
    width: 50%;
    margin-right: 5rem;
}

#about .info{
    width: 40%;
    height: 100%;
    text-align: start;
    font-size: 1.5rem;
}








/*SECTION ABOUT*/
#section-about{
    width: 100%;
    min-height: 55rem;
}

#banner{
    padding: 1px;
    width: 100%;
    height: 50rem;
    background-image: url('../Img/Banner.jpg');
}

#banner > div{
    padding: 1px;
    width: 100%;
    height: 100%;
    background: rgba(118, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}



#banner > div h2{
    color: #fff;
    font-size: 10rem;
}









.about-div__row{
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
}

.about-div__row p{
    width: 40%;
    height: 100%;
    font-size: 2rem;
    text-align: justify;
}

.about-div__row img{
    width: 40%;
    height: 100%;
}


#section-about h4{
    font-size: 4rem;
    text-align: center;
    margin: 10rem 0 0;
}

.about-info{
    width: 100%;
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-info__item{
    width: 20rem;
    height: 20rem;
    border: .1rem solid #000;
}

.about-info__item h3{
    display: block;
    font-size: 7rem;
    margin: 3rem 0;
    text-align: center;
}

.about-info__item > p{
    font-size: 2rem;
    text-align: center;
}






/*INFO*/
#info{
   padding: 1px;
   width: 100%;
   min-height: 55rem;
}

#info h2{
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0;
}

#info h3{
    font-size: 4rem;
    margin: 3rem 0;
    text-align: center;
}

.contact-form{
    width: 30%;
    min-height: 40rem;
    border: .2rem solid var(--color-secundario);
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contact-form input,
.contact-form textarea{
    width: 90%;
    font-size: 1.5rem;
    padding: 1rem;
    outline: none;
}

.contact-info{
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-info__item{
    width: 15%;
    height: 50%;
    border: .1rem solid #000;
}

.contact-info__item h3{
    display: block;
    font-size: 6rem;
    text-align: center;
    margin: 2rem 0;
}

.contact-info__item p{
    font-size: 1.4rem;
    text-align: center;
}



/*MENU*/
#foods{
    width: 100%;
    min-height: 55rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}



.food-card{
    width: 23rem;
    height: 30rem;
    border-radius: 1rem;
    border: .1rem solid var(--color-secundario);
    box-shadow: 0 0 .5rem var(--color-secundario);
    margin: 3rem;
}

.food-card img{
    display: block;
    width: 100%;
    height: 60%;
    margin: 0 auto;
    border-radius: 1rem 1rem 0 0;
}



.input-quantity{
    width: 20%;
    outline: none;
}

.food-card h3{
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0;
    color: var(--color-secundario);
}

.food-card h3 button{
    background: var(--color-secundario);
    text-decoration: none;
    color: #fff;
    padding: .5rem;
    border-radius: .5rem;
    margin: 0 2rem;
    border: none;
    transition: all 200ms;
}

.food-card h3 button:hover{
    background: rgb(255, 71, 71);
    text-decoration: none;
    color: #000;
    padding: .5rem;
    border-radius: .5rem;
}

.input-description{
    display: block;
    width: 100%;
    border: none;
    margin: 2rem auto;
    font-size: 2rem;
    text-align: center;
    outline: none;
}

.input-description:active{
    border: none;
    background: transparent;
}


/*REVIEW*/
#section-review{
    width: 100%;
    min-height: 55rem;
}

#section-review h1{
    font-size: 3rem;
    text-align: center;
    margin: 3rem 0;
}

.form-div{
    display: block;
    width: 40%;
    min-height: 40rem;
    margin: 3rem auto;
    border: .2rem solid rgb(179, 179, 179);
}

.range-value{
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0;
}

.range{
    width: 60%;
    height: 4rem;
}

input[type=range] {
    display: block;
    -webkit-appearance: none;
    margin: 2rem auto;
    width: 80%;
}

input[type=range]:focus {
outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
width: 100%;
height: 17px;
cursor: pointer;
animate: 0.2s;
box-shadow: 1px 1px 1px #000000;
background: #bf181a;
border-radius: 0px;
border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
box-shadow: 1px 1px 1px #000000;
border: 1px solid #000000;
height: 36px;
width: 28px;
border-radius: 15px;
background: #FFFFFF;
cursor: pointer;
-webkit-appearance: none;
margin-top: -10.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
background: #bf181a;
}

input[type=range]::-moz-range-track {
width: 100%;
height: 17px;
cursor: pointer;
animate: 0.2s;
box-shadow: 1px 1px 1px #000000;
background: #bf181a;
border-radius: 0px;
border: 1px solid #000000;
}

input[type=range]::-moz-range-thumb {
box-shadow: 1px 1px 1px #000000;
border: 1px solid #000000;
height: 36px;
width: 28px;
border-radius: 15px;
background: #FFFFFF;
cursor: pointer;
}

input[type=range]::-ms-track {
width: 100%;
height: 17px;
cursor: pointer;
animate: 0.2s;
background: transparent;
border-color: transparent;
color: transparent;
}

input[type=range]::-ms-fill-lower {
background: #bf181a;
border: 1px solid #000000;
border-radius: 0px;
box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-fill-upper {
background: #bf181a;
border: 1px solid #000000;
border-radius: 0px;
box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-thumb {
box-shadow: 1px 1px 1px #000000;
border: 1px solid #000000;
height: 36px;
width: 28px;
border-radius: 15px;
background: #FFFFFF;
cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
background: #bf181a;
}

input[type=range]:focus::-ms-fill-upper {
background: #bf181a;
}

.form-div h3{
    text-align: center;
    font-size: 1.5rem;
}

.form-div p{
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem 0;
}

.form-div textarea{
display: block;
width: 80%;
height: 20rem;
margin: 2rem auto;
border: .1rem solid #000;
outline: none;
padding: 1rem;
}

.form-div input[type='submit']{
    display: block;
    width: 80%;
    margin: 2rem auto;
    font-size: 2rem;
    padding: 1rem;
}



#review-slider{
    padding: 1px;
    width: 100%;
    min-height: 55rem;
    background: var(--color-secundario);
}

#review-slider h2{
    display: block;
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0;
}







/*CART*/
#cart{
    width: 100%;
    min-height: 40rem;
}

#cart h2{
    text-align: center;
    font-size: 3rem;
    margin: 3rem 0;
}

#cart a{
    background: #bf181a;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

#cart a:hover{
    background: #ec2b2e;
}





/*FOOTER*/
#footer{
    width: 100%;
    height: 10rem;
    background: #999;
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    line-height: 10rem;
}